<div id="landing" class="min-vh-100 text-center text-white bg-dark p-3 pt-5 pb-5 p-md-5 full-background">
  <%= render "pages/header" %>
  <%= render "pages/section_banner" %>
  <%= render "pages/section_features" %>
  <%= render "pages/section_downloads" %>
  <%= render "pages/section_webapp" %>
  <%= render "pages/footer" %>
</div>
