<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/google_analytics' %>
    <title>Alice and Bob • A free, light and easy to use PGP encryption tool</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="description" content="A free, light and easy to use tool to generate PGP key pairs, encrypt and decrypt messages."/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <div id="overlay">
     <div class="text-center">
       <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
      </div>
    </div>
    <div id="wrap" class="after-load">
      <div id="content">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
