<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/google_analytics' %>
    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Monetize with Coil -->
    <meta name="monetization" content="$ilp.uphold.com/jLEF9iF7daZY">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <!-- Main content -->
    <div id="wrap" class="after-load">
      <!-- Handling flash message -->
      <div class="container fixed-top" style="margin-top: 25px;">
        <div class="col-md-8 offset-md-2">
          <% flash.each do |name, msg| %>
            <div id="alert_devise" class="<%= flash_class(name) %> alert alert-dismissible fade show" role="alert">
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <% end %>
        </div>
      </div>
      <!-- CONTENT -->
      <%= yield %>
    </div>
  </body>
</html>
